@media (max-width: 768px) {
  #nav {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 16px;
  }
  #nav .navbar-toggler {
    display: block;
  }
  .offcanvas {
    max-width: 85%;
  }
  .offcanvas .offcanvas-body ul {
    height: 100%;
    text-align: center;
    margin-top: 30px;
  }

  #mobile_footer span {
    color: #856b02;
  }

  #mobile_footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 65px;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0 0 0;
    display: flex;
  }
  #mobile_footer .card_box:hover span {
    color: #000;
  }
  #mobile_footer .card_box:nth-child(3) {
    border-radius: 50%;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    transform: translateY(-50%);
    background-color: #fff;
  }
  #mobile_footer .card_box:nth-child(3) span {
    line-height: 0;
  }
}
