@media (max-width: 768px) {
  #nav {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 16px;
  }
  #nav .navbar-toggler {
    display: block;
  }
  .offcanvas {
    max-width: 85%;
  }
  .offcanvas .offcanvas-body ul {
    height: 100%;
    text-align: center;
    margin-top: 30px;
  }

  #mobile_footer span {
    color: #856b02;
  }

  #mobile_footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 65px;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0 0 0;
    display: flex;
  }
  #mobile_footer .card_box:hover span {
    color: #000;
  }
  #mobile_footer .card_box:nth-child(3) {
    border-radius: 50%;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    transform: translateY(-50%);
    background-color: #fff;
  }
  #mobile_footer .card_box:nth-child(3) span {
    line-height: 0;
  }
  #banner .content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    color: #353535;
  }
  #banner .content h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 34px;
    color: #353535;
    margin-top: 5px;
  }
  #banner .content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 190%;
    color: #353535;
    padding: 20px 0 20px 0;
  }
  #banner .content .btns a:first-child,
  #banner .content .btns a:last-child {
    font-size: 16px;
    padding: 10px 25px;
  }
  #banner .content .btns a:last-child {
    margin-left: 0px;
  }
  #banner .content .btns a:last-child {
    margin-left: 0px;
    padding: 10px 20px;
  }
  #banner .images img:first-child {
    display: none;
  }
  #banner .images img:last-child {
    display: block;
  }
  #banner .images {
    display: flex;
    justify-content: center;
  }
  #banner .content {
    text-align: center;
    margin-top: 30px;
  }
  #banner .content h4 {
    justify-content: center;
  }
  #banner .social_icons {
    margin-top: 30px;
    justify-content: center;
  }
  #banner ul {
    gap: 10px;
  }
}
