@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "PT Sans", sans-serif;
  --third-family: "Potta One", sans-serif;
  --font3: "Baloo Da 2", sans-serif;
}
body {
  font-family: var(--font-family);
}
/* =============== NAVIGATION CSS START ====================*/
#nav {
  padding: 0;
}
#nav ul li a {
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 200%;
  color: #353535;
  padding: 18px 20px;
  position: relative;
}
#nav ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #353535;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#nav ul li a:hover::before {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
#nav .mobile_menu_btn {
  color: #000 !important;
}
#nav .navbar-toggler {
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  display: none;
}
#nav .navbar-toggler:focus {
  box-shadow: none;
}
#mobile_footer {
  display: none;
}
/* =============== NAVIGATION CSS END ======================*/
